<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ asset('bundles/trans/favicon.ico') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ asset('bundles/trans/favicon.ico') }}" type="image/x-icon">
        <title>{{ 'title.symfony_db_translations'|trans({}, 'TransBundle') }}</title>
        <link href="{{ asset('bundles/trans/css/vendor/bootstrap.min.css') }}" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{ 'title.symfony_db_translations'|trans({}, 'TransBundle') }}</a>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            {% block content '' %}
        </div>
        <style type="text/css">
            .trans-available-locales {
                padding-left: 20px;
            }
        </style>
        <script type="text/javascript" src="{{ asset('bundles/trans/js/vendor/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/trans/js/vendor/bootstrap.min.js') }}"></script>
    </body>
</html>
