{% extends layout %}

{% block content %}
    <div class="well well-sm">
        <form action="{{ path('trans_gui') }}" method="get" class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <table class="table table-condensed">
                        <tr>
                            <td class="col-md-8">
                                {{ form_widget(form.query) }}
                            </td>
                            <td class="col-md-4">
                                {{ form_widget(form.domains) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div>
                                            {{ form_widget(form.search_in_translations) }}
                                            <span title="{{ 'help.search_in_translations'|trans({}, 'TransBundle') }}">
                                                {{ form.search_in_translations.vars.label|trans({}, 'TransBundle') }}
                                            </span>
                                        </div>

                                        <div>
                                            {{ form_widget(form.untranslated_only) }}
                                            <span title="{{ 'help.untranslated_only'|trans({}, 'TransBundle') }}">
                                                {{ form.untranslated_only.vars.label|trans({}, 'TransBundle') }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <span title="{{ 'help.within_locales'|trans({}, 'TransBundle') }}" style="display: inline-block">
                                            {{ form.locales.vars.label|trans({}, 'TransBundle') }}:
                                        </span>
                                        <div class="trans-available-locales">
                                            {% for element in form.locales %}
                                            <div class="checkbox-inline" style="padding-left: 0;">
                                                {{ form_widget(element) }} {{ element.vars.label|upper }} &nbsp;
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <a href="{{ path('trans_gui') }}" class="btn btn-link">{{ 'link.reset'|trans({}, 'TransBundle') }}</a>
                                <input type="submit" value="{{ 'button.search'|trans({}, 'TransBundle') }}" class="btn btn-sm btn-default" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div class="dropdown inline pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            {{ 'link.more_actions'|trans({}, 'TransBundle') }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" >
                            <li>
                                <a href="{{ path('trans_gui_clear_cache', app.request.query.all) }}">
                                    {{ 'link.clear_cache'|trans({}, 'TransBundle') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('trans_gui_clear_garbage', app.request.query.all) }}">
                                    {{ 'link.clear_garbage'|trans({}, 'TransBundle') }}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <a class="btn btn-default pull-right" href="{{ path('trans_gui_import') }}" style="margin-right: 5px">
                        <i class="glyphicon glyphicon-import"></i> 
                        {{ 'link.import_from_files'|trans({}, 'TransBundle') }}
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                {{ flashMessage }}
            </div>
        {% endfor %}

        <form action="{{ path('trans_gui_save', app.request.query.all) }}" method="post">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="">{{ 'label.original_string'|trans({}, 'TransBundle') }}</th>
                            {% for locale in locales %}
                            <th class="col-md-2">{{ locale|trans }}</th>
                            {% endfor %}
                        <th class="col-md-1 text-right">
                            <input type="submit" value="{{ 'button.submit'|trans({}, 'TransBundle') }}" class="btn btn-primary btn-block" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                        <tr>
                            <td title="{{ message.getDomain }}">{{ message.getMessage }}</td>
                            {% for locale in locales %}
                                <td>
                                    <textarea class="form-control" name="messages[{{ message.getId }}][{{ locale }}]">{{ message.getTranslationText(locale) }}</textarea>
                                </td>
                            {% endfor %}
                            <td class="text-right">
                                <a href="{{ path('trans_gui_delete', app.request.query.all|merge({id: message.getId})) }}" class="btn btn-danger">{{ 'button.remove'|trans({}, 'TransBundle') }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="{{ locales|length + 1 }}" class="text-center">
                            {{ paginator(messages.count(), per_page, 'trans_gui', app.request.get('page')|default(1)) }}
                        </td>
                        <th class="col-md-1 text-right">
                            <input type="submit" value="{{ 'button.submit'|trans({}, 'TransBundle') }}" class="btn btn-primary btn-block" />
                        </th>
                    </tr>
                </tfoot>
            </table>
            <input type="hidden" name="query" value="{{ form.query.vars.value }}" />
        </form>
    </div>
    <script type="text/javascript" src="{{ asset('bundles/trans/js/transbundle.js') }}"></script>
{% endblock %}